
table {
    color: #fff;
    text-align: center;
    border-collapse: collapse;
    font: normal 3em Arial, Helvetica, sans-serif;
    width: 100%;
}
td {
    width: 25vw;
    border: 1px solid #4e494d;
    cursor: pointer;
    padding: 10px;
}
td:hover {
    background-color: #5c5559;
}
tr {
    height: 16.02vh;
    background-color: #4e494d;
}
#inputBox {
    background-color: #4e494d;
    text-align: right;
    width: 100%;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    border: 0px;
}
.operatorButton {
    background-color: orange;
    color: white;
}
